<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js">
        </script>
        <script src="app.js"></script>
    </head>
    <body ng-app="app" ng-controller="MainController as main">
      <h2>ToDo List</h2>
      <ul>
        <li ng-repeat="task in main.tasks">
          <input type="checkbox" ng-model="task.done" /> 
          <span ng-hide="task.done">{{task.name}}</span>
        </li>
      </ul>
    </body>
</html>

<!--
  ng-show: show the element if the property in quotes evaluates to true
  ng-hide: hide the element if the property in quotes evaluates to true
  ng-if:   remove the element from the DOM if the property in quotes evaluates to false
-->