<!doctype html>
<html>
<!---USING FORM VALIDATION WITH ANGULAR JS
• disable default browser validation by adding novalidate to form element
• every form control has four properties:
  $dirty: user has interacted with the the field
  $valid: the content is valid
  $invalid: the content is invalid
  $pristine: the user has not interacted with the field

  each state property is accessed by:
  form-name.form-element-name.$property-name

  example:
  myForm.userName.$valid

  ng-minlength and ng-maxlength force a min or max length for entry
  required
  ng-pattern will validate agains a regular expression for example email number or url

angular privided css styles
.ng-dirty{}
.ng-valid{}
.ng-invalid{}
.ng-pritine{}

 --->
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js">
    </script>
    <script src="app.js"></script>
  </head>
  <body ng-app="app">
    <form ng-controller="FormController as formCtrl" name="form"
          ng-submit="formCtrl.submitForm()" novalidate> <!---->
      <div>
        <!-- get the user's name -->
        <label>Enter Name:</label>
        <input type="text"
               name="user"
               ng-model="userName"
               ng-minlength=4
               ng-maxlength=10
               required />
        <!-- validate the user's name -->
        <span style="color:#FF9900" ng-show="form.user.$dirty && form.user.$invalid">
          <span ng-show="form.user.$error.required">
            You must enter your user name
          </span>
          <span ng-show="form.user.$error.minlength">
            Your user name is too short
          </span>
          <span ng-show="form.user.$error.maxlength">
            Your user name is too long
          </span>
        </span>
      </div>

      <div></div>
        <!-- get the user's age -->
        <label>Enter Age:</label>
        <input type="number"
               name="age"
               ng-model="userAge"
               required />

        <!-- validate the user's age -->
        <span style="color:#FF9900" ng-show="form.age.$dirty && form.age.$invalid">
          <span ng-show="form.age.$error.required">
            You must enter your age
          </span>
          <span ng-show="form.age.$error.number">
            Your age must be a number
          </span>
        </span>
      </div>
      <hr />
    <!-- submit form -->
      <input type="submit" name="submit"
             value="Submit" ng-disabled="form.user.$invalid || form.age.$invalid"/>
    </form>
  </body>
</html>
